:root {
  --ff: "Open Sans", sans-serif;
  --h1: bold min(4rem, 12vw) / 1em var(--ff);
  --h2: bold min(3rem, 9vw)/1em var(--ff);
  --h3: bold min(2.25rem, 6.75vw)/1.2em var(--ff);
  --h4: bold min(1.5rem, 4.5vw)/1.6em var(--ff);
  --p1: 1.25rem/1.6em var(--ff);
  --p2: 1rem/1.6em var(--ff);
  --p3: .75rem/2em var(--ff);

  --color-primary: #829E84;
  --color-secondary: #BC9F8B;
  --white: #FAFAFA;
  --black: #303030;
  --grey: #939090;

  --transition: 0.3s ease-in-out;
  --shadow: #00000030 0px 0px 10px 0px;
  --shadowdark: #00000030 0px 5px 10px 5px;
}

:root {
  --color-text: var(--black);
  --color-background: var(--white);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;  
  color: var(--color-text);
  background: var(--color-background);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
