@import './base.css';

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

.p1 {
  font: var(--p1);
}

.p2 {
  font: var(--p2);
}

.p3 {
  font: var(--p3);
}

